:root {
  --border: 1px solid var(--form-element-border-color);
  --invalid-color: rgba(183, 28, 28, 0.5);
  --valid-color: rgba(46, 125, 50, 0.5);
}

body {
  -webkit-font-smoothing: antialiased;
}

article {
  overflow: visible;
}

.icon-button {
  padding: 0;
  margin: 0;
  width: auto;
  border: none;
  background: transparent;
  color: var(--color);
}

.error-text {
  color: var(--form-element-invalid-border-color);
}

.inline-wrapper {
  display: flex;
  gap: 1rem;
}

.inline-wrapper a {
  height: fit-content;
  margin-bottom: 0;
}

.inline-wrapper button {
  height: fit-content;
  width: auto;
  margin-bottom: 0;
}

.inline-wrapper--end {
  justify-content: end;
}

.with-icon {
  display: flex !important;
  align-items: center;
  gap: 8px;
}

.row {
  display: flex;
  padding: 16px;
  padding-left: 2rem;
  width: 100%;
  transition: all 200ms ease;
}

.row:hover:not(.heading-row) {
  cursor: pointer;
  background-color: var(--table-row-stripped-background-color);
  border-radius: var(--border-radius);
}

.row > div:not(:last-child) {
  margin-right: 48px;
}

.row > div > div:not(:first-child){
  font-weight: 200;
}

@media (max-width: 767px) {
  .row {
    flex-direction: column;
    position: relative;
    padding-left: 16px;
  }

  .row > div {
    text-align: left;
    flex: 0 1 !important;
  }

  .row > div:not(:first-child) {
    padding-left: 16px;
  }

  .row > div:first-child > div:not(:first-child) {
    padding-left: 16px;
  }

  .row > div:not(:last-child) {
    margin-right: 0;
  }

  .row::before {
    border-left: 1px solid var(--form-element-border-color);
    content: '';
    height: calc(100% - 70px);
    left: 20px;
    position: absolute;
    top: 50px;
  }
}
