.right {
  text-align: right;
}

.inline-wrapper {
  display: flex;
  gap: 1rem;
}

.inline-wrapper a {
  height: fit-content;
  margin-bottom: 0;
}

.inline-wrapper button {
  height: fit-content;
  width: auto;
  margin-bottom: 0;
}

.inline-wrapper--end {
  justify-content: end;
}

.with-icon {
  display: flex !important;
  align-items: center;
  gap: 8px;
}

.row {
  display: flex;
  padding: 16px;
  width: 100%;
  transition: all 200ms ease;
}

.row:hover:not(.heading-row) {
  cursor: pointer;
  background-color: var(--contrast-focus);
}

.row > div:not(:last-child) {
  margin-right: 48px;
}

.row > div > div:not(:first-child){
  font-weight: 200;
}

@media (max-width: 767px) {
  .row {
    flex-direction: column;
    position: relative;
  }

  .row > div {
    text-align: left;
    flex: 0 1 !important;
  }

  .row > div:not(:first-child) {
    padding-left: 16px;
  }

  .row > div:not(:last-child) {
    margin-right: 0;
  }

  .row::before {
    border-left: 1px solid var(--color);
    content: '';
    height: calc(100% - 70px);
    left: 20px;
    position: absolute;
    top: 50px;
  }
}

dl {
  display: flex;
  flex-flow: row wrap;
}

dt {
  flex-basis: 30%;
  text-align: right;
  color: var(--muted-color);
  margin-bottom: 10px;
}

dd {
  flex-basis: 70%;
  flex-grow: 1;
  margin-left: 0;
  margin-bottom: 10px;
  padding-left: 1rem;
}
