.error {
  color: var(--form-element-invalid-border-color);
  margin: -1rem 0 1rem;
}

.select-wrapper {
  display: flex;
}

.select-wrapper > div {
  width: 100%;
}

.select-wrapper > button {
  width: auto;
  margin-left: 1rem;
}

.container {
  position: relative;
}

.select {
  position: absolute;
  z-index: 2;
  top: calc(1rem * var(--line-height) + var(--form-element-spacing-vertical) * 2 + var(--border-width) * 2 + 1rem);
  right: 0;
  left: 0;
  border-radius: var(--border-radius);
  overflow: auto;
  max-height: 360px;
  background-color: var(--background-color);
  border: var(--border-width) solid var(--form-element-border-color);
}

.options {
  list-style: none;
  padding: 0;
  margin: 0;
}

.row {
  display: block;
  margin: 0;
}

.option {
  display: block;
  width: 100%;
  border: none;
  outline: none;
  text-align: left;
  cursor: pointer;
  margin: 0;
  border-radius: 0;
  background-color: transparent;
  color: var(--form-element-color);
}

.option:hover {
  background-color: var(--contrast-focus);
}

.option.is-selected {
  background: var(--primary);
  color: var(--color);
}