.wrapper {
  position: relative;
}

.icon {
  font-size: calc(var(--font-size) * 1.75);
  color: var(--form-element-border-color);
}

.day {
  position: absolute;
  left: 0px;
  bottom: 0px;
  width: calc(var(--font-size) * 1.75);
  font-size: var(--font-size);
  font-weight: bold;
  line-height: 1.3;
  text-align: center;
}